####    ╔═══╗    ╔═══╗╔═══╗╔═══╗╔═══╗╔═╗ ╔╗
####    ║╔═╗║    ║╔═╗║║╔═╗║║╔═╗║║╔═╗║║║╚╗║║
####  ╔╗╚╝╔╝║    ║╚═╝║║║ ║║║╚═╝║║╚══╗║╔╗╚╝║
####  ╠╣╔╗╚╗║    ║╔╗╔╝║╚═╝║║╔══╝╚══╗║║║╚╗║║
####  ║║║╚═╝║    ║║║╚╗║╔═╗║║║   ║╚═╝║║║ ║║║
####  ╚╝╚═══╝    ╚╝╚═╝╚╝ ╚╝╚╝   ╚═══╝╚╝ ╚═╝


#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Settings ##
# modifier
set $mod mod1

# font
font pango:Hermit 10

# needs left click to focus
focus_follows_mouse no

# reload, restart and exit
bindsym $mod+Control+r reload
bindsym $mod+Control+w restart
bindsym $mod+Control+q exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Layout ##
workspace_layout default
for_window [class=".*"] border pixel 3
gaps top 8 
gaps inner 8

bindsym $mod+s layout toggle tabbed splith
bindsym $mod+f fullscreen
client.focused          #005eff #285577 #ffffff #005eff   #005eff


#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Applications ##

bindsym $mod+space exec rofi -no-config -no-lazy-grab -show drun -modi drun -theme ~/.config/rofi/launcher.rasi
bindsym $mod+d exec bash ~/.config/rofi/powermenu.sh
bindsym $mod+Return exec alacritty 
bindsym $mod+Control+Return exec $browser
bindsym --release $mod+0 exec_always --no-startup-id  flameshot gui -p ~/screenshots                  # screenshot

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Autostart ##

exec_always --no-startup-id ~/.config/polybar/start.sh
exec_always --no-startup-id nitrogen --restore &
exec_always --no-startup-id i3altlayout
exec_always --no-startup-id xrandr --output DP-4 --mode 1920x1080 --rate 144.00 --left-of DP-0 --output DP-0 --mode 2560x1440 --rate 240 --auto --primary --output DP-2 --mode 1920x1080 --rate 144.00 --right-of DP-0
exec --no-startup-id betterlockscreen -pixel 10,10

exec --no-startup-id alacritty --title scratch
exec --no-startup-id /etc/profiles/per-user/rap/bin/keepassxc
exec --no-startup-id /etc/profiles/per-user/rap/bin/firefox
exec --no-startup-id /etc/profiles/per-user/rap/bin/rocketchat-desktop
exec --no-startup-id /etc/profiles/per-user/rap/bin/code
exec --no-startup-id /etc/profiles/per-user/rap/bin/spotify 
exec --no-startup-id /etc/profiles/per-user/rap/bin/alacritty

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Workspaces ##

set $terminal "1:terminal"
set $code     "2:code"
set $switch   "3:switch"
set $browser  "4:browser"
set $space    "5:space"
set $chat     "6:chat"
set $keepass  "7:keepass"
set $audio    "8:audio"

bindsym $mod+1 workspace $terminal 
bindsym $mod+2 workspace $code
bindsym $mod+3 workspace $switch
bindsym $mod+4 workspace $browser
bindsym $mod+5 workspace $space
bindsym $mod+6 workspace $chat
bindsym $mod+7 workspace $keepass
bindsym $mod+8 workspace $audio

# output Left (DP-4)
workspace $browser output DP-4
workspace $space output DP-4

# output Right (DP-2)
workspace $chat output DP-2
workspace $keepass output DP-2
workspace $audio output DP-2

# output Main (DP-0)
workspace $terminal output DP-0  
workspace $code output DP-0
workspace $switch output DP-0

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Sticky windows ##

for_window [title="scratch"] move scratchpad

for_window [class="Code"] move to workspace $code
for_window [class="jetbrains-goland"] move to workspace $code
for_window [class="Alacritty"] move to workspace $terminal

for_window [class="firefox"] move to workspace $browser

for_window [class="Mumble"] move to workspace $chat
for_window [title="Mumble"] floating enable, resize set 250 1000, move position 6136 50

for_window [class="Rocket.Chat"] move to workspace $chat
for_window [class="Rocket.Chat"] floating enable, resize set 1000 1000, move position 4500 50

for_window [class="KeePassXC"] move to workspace $keepass
for_window [class="KeePassXC"] floating enable, resize set 700 1000, move position 5550 50

for_window [class="Spotify"] move to workspace $audio
for_window [class="Spotify"] floating enable, resize set 1000 1000, move position 4500 50

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Windows ##
for_window [window_role="pop-up"] floating enable                                             # browser pop-ups
bindsym $mod+q kill
floating_modifier $mod
bindsym $mod+Control+space floating toggle

bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

bindsym $mod+Control+h move left
bindsym $mod+Control+j move down
bindsym $mod+Control+k move up
bindsym $mod+Control+l move right

bindsym $mod+r mode "resize"
mode "resize" {
  bindsym h resize shrink width 5px
  bindsym j resize grow height 5px
  bindsym k resize shrink height 5px
  bindsym l resize grow width 5px

  bindsym $mod+h resize shrink width 15px
  bindsym $mod+j resize grow height 15px
  bindsym $mod+k resize shrink height 15px
  bindsym $mod+l resize grow width 15px

  # return to default mode
  bindsym Return mode "default"
  bindsym Escape mode "default"
  bindsym $mod+r mode "default"
}

# move to scrathpad
bindsym $mod+Shift+o move scratchpad
# toggle scratchpad window or cycle through
bindsym $mod+o scratchpad show
