####    ╔═══╗    ╔═══╗╔═══╗╔═══╗╔═══╗╔═╗ ╔╗
####    ║╔═╗║    ║╔═╗║║╔═╗║║╔═╗║║╔═╗║║║╚╗║║
####  ╔╗╚╝╔╝║    ║╚═╝║║║ ║║║╚═╝║║╚══╗║╔╗╚╝║
####  ╠╣╔╗╚╗║    ║╔╗╔╝║╚═╝║║╔══╝╚══╗║║║╚╗║║
####  ║║║╚═╝║    ║║║╚╗║╔═╗║║║   ║╚═╝║║║ ║║║
####  ╚╝╚═══╝    ╚╝╚═╝╚╝ ╚╝╚╝   ╚═══╝╚╝ ╚═╝


#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Settings ##
# modifier
set $mod mod1

# font
font pango:Hermit 10

# needs left click to focus
focus_follows_mouse no

# reload, restart and exit
bindsym $mod+Control+r reload
bindsym $mod+Control+w restart
bindsym $mod+Control+q exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

for_window [class=".*"] border pixel 0

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Layout ##
workspace_layout default
default_border pixel 3
gaps top 50

bindsym $mod+s layout toggle tabbed split

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## System controls ##
bindsym $mod+Control+0 exec $lock -l

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Applications ##
bindsym $mod+d exec rofi -show drun -show-icons -lines 5
bindsym $mod+Return exec alacritty
bindsym $mod+Control+Return exec $browser
bindsym --release $mod+0 exec --no-startup-id flameshot gui -p ~/screenshots                  # screenshot

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Autostart ##
exec_always --no-startup-id ~/.config/polybar/start.sh

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Windows ##
for_window [window_role="pop-up"] floating enable                                             # browser pop-ups
bindsym $mod+w kill
floating_modifier $mod
bindsym $mod+Shift+space floating toggle

bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

bindsym $mod+r mode "resize"
mode "resize" {
    bindsym $left resize shrink width 5px
    bindsym $down resize grow height 5px
    bindsym $up resize shrink height 5px
    bindsym $right resize grow width 5px

    bindsym Shift+$left resize shrink width 15px
    bindsym Shift+$down resize grow height 15px
    bindsym Shift+$up resize shrink height 15px
    bindsym Shift+$right resize grow width 15px

    # return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym $mod+r mode "default"
}

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Workspaces ##
bindsym $mod+Control+$down workspace next
bindsym $mod+Control+$up workspace prev

bindsym $mod+Control+$left move container to workspace next, workspace next
bindsym $mod+Control+$right move container to workspace prev, workspace prev