####    ╔═══╗    ╔═══╗╔═══╗╔═══╗╔═══╗╔═╗ ╔╗
####    ║╔═╗║    ║╔═╗║║╔═╗║║╔═╗║║╔═╗║║║╚╗║║
####  ╔╗╚╝╔╝║    ║╚═╝║║║ ║║║╚═╝║║╚══╗║╔╗╚╝║
####  ╠╣╔╗╚╗║    ║╔╗╔╝║╚═╝║║╔══╝╚══╗║║║╚╗║║
####  ║║║╚═╝║    ║║║╚╗║╔═╗║║║   ║╚═╝║║║ ║║║
####  ╚╝╚═══╝    ╚╝╚═╝╚╝ ╚╝╚╝   ╚═══╝╚╝ ╚═╝


#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Settings ##
# modifier
set $mod mod1

# font
font pango:Hermit 10

# needs left click to focus
focus_follows_mouse no

# reload, restart and exit
bindsym $mod+Control+r reload
bindsym $mod+Control+w restart
bindsym $mod+Control+q exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Layout ##
workspace_layout default
for_window [class=".*"] border pixel 2
gaps top 25
gaps inner 8

bindsym $mod+s layout toggle tabbed split

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## System controls ##
bindsym $mod+Control+0 exec $lock -l

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Applications ##

bindsym $mod+space exec rofi -show drun -theme ~/.config/rofi/launcher.rasi
bindsym $mod+d exec bash ~/.config/rofi/powermenu.sh
bindsym $mod+Return exec alacritty
bindsym $mod+Control+Return exec $browser
bindsym --release $mod+0 exec_always --no-startup-id  flameshot gui -p ~/screenshots                  # screenshot

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Autostart ##
exec_always --no-startup-id ~/.config/polybar/start.sh
exec_always --no-startup-id nitrogen --restore &
exec_always --no-startup-id i3altlayout

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Windows ##
for_window [window_role="pop-up"] floating enable                                             # browser pop-ups
bindsym $mod+q kill
floating_modifier $mod
bindsym $mod+Control+space floating toggle

bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

bindsym $mod+Control+h move left
bindsym $mod+Control+j move down
bindsym $mod+Control+k move up
bindsym $mod+Control+l move right

bindsym $mod+r mode "resize"
mode "resize" {
  bindsym h resize shrink width 5px
  bindsym j resize grow height 5px
  bindsym k resize shrink height 5px
  bindsym l resize grow width 5px

  bindsym $mod+h resize shrink width 15px
  bindsym $mod+j resize grow height 15px
  bindsym $mod+k resize shrink height 15px
  bindsym $mod+l resize grow width 15px

  # return to default mode
  bindsym Return mode "default"
  bindsym Escape mode "default"
  bindsym $mod+r mode "default"
}

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Workspaces ##
workspace 1 output DP-0
workspace 2 output primary
workspace 3 output DP-4

bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Mouse support ##
# The right button toggles floating
bindsym button3 floating toggle
bindsym $mod+button3 floating toggle

#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Custom overwrites ##
for_window [title="Mumble.*"] floating enable, resize set 250 900, move position 6120 50